azure-vm/*
nginx-container/*
terraform-azure-rg/*
**/.terraform/*
.terraform/*
*/.terraform
*/.terraform.lock*
*/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.infracost/*
.infracost/*
4snetHub-3vnetSpokes/.terraform
toolkit-example/.infracost/terraform_modules/manifest.json
